.maindiv {
  box-sizing: border-box;
  background-color: #008000;
  margin-bottom: 10px;
  padding: 20px;
  width: 288px;
  height: 274px;
}

.boxes {
  box-sizing: border-box;
  background-color: #FFFF00;
  border: solid black 4px;
  color: blue;
  font-size: 30px;
  height: 78px;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 248px;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
