h1 {
  color: blue;
}

h2 {
  color: orange;
}

#types {
  color: blue;
  list-style-type: square;
}

.fruits {
  list-style-type: disc;
}

.fruits, .vegs {
  color: black;
}

.fruits li:first-child {
  color: #E80018;
}
